
<mat-toolbar color="primary">
  	<span class="pageTitle">Discord Memebot Using MEAN Stack</span>
  	<div class="example-button-row">
		<button mat-button >Primary</button>
  		<!--<button mat-raised-button>Basic</button>
  		<button mat-raised-button color="primary">Primary</button>
  		<button mat-raised-button color="accent">Accent</button>
		<button mat-raised-button color="warn">Warn</button>
		<button mat-raised-button disabled>Disabled</button>
  		<a mat-raised-button routerLink=".">Link</a> -->
	</div>
</mat-toolbar>
<div class="background">
	<div>
  		<router-outlet></router-outlet>
	</div>
</div>
